.rounded {
    height: 250px;
    width: 250px;
    margin: 10px 15px 10px 5px;
}

.card-body {
    font-size: 18px;
    height: 500px;
    line-height: 35px;
    color: #777777;
}

.container {
    margin-top: 30px;
    margin-bottom: 90px;
}

.h4 {
    font-size: 20px;
    color: #4aaaa5;
}
 
.card-footer{
    border-top: 8px solid #4aaaa5;
    background-color: #666666;
    color: white;
    
}

.btn {
    color: white;
    background-color: #4aaaa5;
}


.flower {
   color: #777777;
}

.animals {
    color: #777777;
}

/*.container-body {
    margin: 10px 10px 10px 10px;
    
}*/

.form {
    margin: 10px;
}

.row {
    margin-left: 0px;
}

.col-md {
    border: 1px solid #777777;
}



