.rounded {
    height: 250px;
    width: 250px;
    margin: 10px 15px 10px 5px;
}

.body {
    padding: 5px;
}

.container {
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    min-height: 80vh;
    flex-direction: column;
    font-size: 20px;
}
 
.footer{
    border-top: 8px solid #4aaaa5;
    background-color: #666666;
    color: white;
    position: relative;
    height: 60px;
    margin-top: -5px;
    clear: both;
    
}

.btn {
    color: white;
    background-color: #4aaaa5;
}


.flower {
   color: #777777;
}

.animals {
    color: #777777;
}

.form {
    margin: 10px;
}

.row {
    margin-left: 0px;
    flex: 1;
}

.col-md {
    border: 1px solid #777777;
}
  